#header{
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}
#main-right{
    text-align: right;
    margin-top: -580px;
}